*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#action_button{
     display: none; 
}

body{
    background-image: url(./images/fondo.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

label{
    color: white;
}

section {
    margin-bottom: 3em;
    padding-top: 2em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
  
.allback {
    background-color: #3c3c3ced;
}

.allback h2{
    color: white;
    text-align: center;
}

.hide{
    display: none !important;
}

.input-group-text{
    height: 100%;
}

#div_list_student tr td:last-child {
    width: 1%;
    white-space: nowrap;
}

#div_average_student h4{
    color: white;
    margin-top: 2rem;
    text-decoration: underline;
}
